.type {
    width: 220px;
    /* font-size: medium; */
    text-align: center;
}

.type-under {
    width: 220px;
    text-align: center;
    font-size: small;
    background-color: whitesmoke;
    color: black;
    border: 2px solid whitesmoke;
    border-radius: 15px;
}

#searchCard:hover{
    transform: scale(1.04);
    transition: all .5s;
}

#seachscroll::-webkit-scrollbar {
    width: 10px;
    background-color: white;
    border-radius: 30px;
}

#seachscroll::-webkit-scrollbar-thumb {
    background-color: rgba(46, 81, 239, 0.875);
    border-radius: 10px;
}

