#bannerborder {
    border-radius: 30% 70% 51% 49% / 51% 43% 57% 49%;
    background-image: linear-gradient(rgb(60, 76, 180), rgb(44, 64, 194), rgb(63, 88, 200));
}

.swiper-slider > img{
border-radius: 30px;
}